html,
body {
  padding: 0;
  margin: 0;
  background-color: whitesmoke;
  margin: .5rem;
  font-family: "Barlow Semi Condensed", sans-serif;
}

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "box1 box1 box2 box5"
    "box3 box4 box4 box5";
}

main div {
  border-radius: 0.5rem;
  padding: 0rem 1rem;
  margin: 5px;
  line-height: 1.5;
}

.avatar {
  border-radius: 50%;
  border: 3px solid hsl(263, 55%, 52%);
  width: 50px;
  height: 50px;
}

#quotes{
  position: absolute;
  right: 10%;
  top: 10%;
  opacity: 70%;
  z-index: 0;
}

#box1 {
  grid-area: box1;
  background-color: hsl(263, 55%, 52%);
  position: relative;
}

#box1 h2{
  position: relative;
  z-index: 100 !important;
}

#box2 {
  grid-area: box2;
  background-color: hsl(217, 19%, 35%);
}

#box3 {
  grid-area: box3;
  background-color: white;
}

#box4 {
  grid-area: box4;
  background-color: hsl(219, 29%, 14%);
}

#box5 {
  grid-area: box5;
  background-color: white;
}

.row {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.ml-1 {
  margin-left: 10px;
}

.small {
  font-size: medium;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-1 {
  margin-bottom: 10px;
}

.mt-0 {
  margin-top: 0 !important;
}

.opacity-50 {
  opacity: 50%;
}

.text-grey{
  color: hsl(0, 0%, 81%);
}

.text-blue{
  color: hsl(217, 19%, 35%);
}

.text-blue-900{
  color: hsl(219, 29%, 14%);
}

.text-white{
  color: white;
}

.bolder{
  font-weight: 600;
}

.bold{
  font-weight: 400;
}


@media only screen and (max-width: 370px){
  main{
    display: flex;
    flex-direction: column;
  }
}